.current-date-events {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 26px;

    transform: translate(0, -9px);
}

@import "./Event.css";
@import "./EventMultiple.css";
@import "./EventSame.css";