.date-detail__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 621px;
    width: 555px;

    margin-left: 78px;
}

.date-detail__body {
    height: 324px;

    overflow-y: scroll;
}

.date-detail__main::-webkit-scrollbar {
    width: 2px;
}

.date-detail__main::-webkit-scrollbar-thumb {
    background-color: rgba(206, 17, 17, 0.4);
    border-radius: 10px;
}

.date-detail__main::-webkit-scrollbar-track {
    margin: 5px;
}

.date-detail__body > .date-detail__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 543px;

    font-weight: 700;
    font-size: 16px;
}

.date-detail__body > .date-detail__header > hr {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
    border: none;
}

.date-detail__body > .date-detail__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 543px;
}

@import "./Event/Event.css";